html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}