* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

a, p {
  line-height: 1.6;
}