//pre-university_training_contacts
.pre-university_training_contacts_row {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
  width: 100%;

  h2 {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    background: white;
    padding: 20px 35px;
    box-shadow: 0 0 15px 0 #0000000D;
    margin-right: 15px;

  }

  a {
    color: $pink-accent;
    font-size: 23px;

  }

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: $grey-accent;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

.pre-university_training_contacts--tel {
  a {
    margin-right: 10px;
  }
}

//pre-university_training_content_grid

.pre-university_training_content_grid {
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 30px;


  p, ul {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 #0000000D;
    padding: 20px 35px;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 5px;
    }

  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }

}

.pre-university_training_content_grid_1 {
  grid-column: 1;
  grid-row: 1;

}

.pre-university_training_content_grid_2 {
  grid-column: 1;
  grid-row: 2;
}

.pre-university_training_content_grid_3 {
  grid-column: 1;
  grid-row: 3;
}

.pre-university_training_content_grid_4 {
  grid-column: 1/3;
  grid-row: 4;
}


.pre-university_training_content_grid_5 {
  grid-column: 2;
  grid-row: 1/4;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 #0000000D;
}

.rrr {
  background: #6c660a;
  width: 500px;
  height: 500px;
  margin-bottom: 30px;
}

.eee {
  background: #2c2903;
  width: 500px;
  height: 500px;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .pre-university_training_contacts--tel {
    display: flex;
    flex-direction: column;

    a {
      margin-right: 10px;
    }
  }
  .pre-university_training_content_grid {
    display: flex;
    flex-direction: column;
  }
  .pre-university_training_content_grid_5{
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .pre-university_training_contacts_row{
    flex-direction: column;
    h2{
      margin-right: 0;
    }

    a{
      font-size: 18px;
    }
  }
  .pre-university_training_contacts--tel{
    margin-top: 20px;
  }
  .pre-university_training_content_grid_5{
    display: block;
    width: 100%;
    height: auto;
  }
}