
.footer_link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 35px;

}

.footer_link_section {

}

.footer_link_section:last-child {

}


.link_title {
  color: #EF3268;
  margin-bottom: 20px;
  font-weight: 600;

}

.footer_link_content {
  margin-bottom: 14px;
  font-weight: 300;
  color: #C9C9C9;

  a:hover {
    color: $pinkAccent;
  }
}