.intro_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  padding: 0 60px;
  position: relative;


}

.intro_specialty {
  width: 100%;
  max-width: 531px;
  border: 2px solid #EF3268;
  border-radius: 34px;
  padding: 31px 57px 30px 57px;
  text-align: center;
  background: #FCFAFA;

  .intro_title {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 600;

  }

  ul {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: left;


    li {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      position: relative;


      &:before {
        content: '';
        width: 11px;
        height: 11px;
        display: block;
        background: black;

        position: absolute;
        top: 5px;

        left: -21px;
      }
    }

  }

}


.intro_btn {
  padding: 22px 43px;
  background: #EF3268;
  box-shadow: 0 4px 9px 0 #00000033;
  border-radius: 8px;

  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: 600;


  &:hover {
    box-shadow: 0 0 9px 2px #ffffff99 inset;
  }

}

.intro_bg {
  margin-left: 30px;
  position: relative;
  transform: translate(-58px, 10px);

  img {
    width: 100%;
    max-width: 279px;
  }

  &::after {
    content: '';
    background: url("/src/img/main/intro/multicoloredStripes.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1265px;

    display: block;
    position: absolute;
    left: 35px;
    z-index: 1;
  }

}

