.news_board {
  background: $bgGrey;
  padding: 42px 0 60px;
}


.news_board-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news_board-block {
  background: $bgWhite;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 23px ;
  width: 32%;
  display: flex;

  &:nth-child(2) {
    margin: 0 15px;
  }
}

.news_board-date {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: $pink-accent;

}

.news_board-line {
  position: relative;
  color: transparent;
  height: 100%;
  margin: 5px 0;


  &:after {
    content: "";
    width: 2px;
    height: 100%;
    background: $pink-accent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: 2;

  }

}

.news_board-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
