.reviews_switch {
  text-align: right;
  margin-bottom: 12px;


  .reviews_tittle {
    font-size: 24px;
    font-weight: 600;
    color: #EF3268;
    margin-bottom: 18px;

  }
}

.reviews_arrows {
  display: inline-block;
  position: relative;
  padding-right: 17px;
}


.reviews_prew {
  display: block;
  position: absolute;
  left: -16px;
  top: 1px;
  z-index: 2;
  color: transparent;
  font-size: 5px;

  &:before {
    content: "";
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    display: block;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);

  }

}

.reviews_next {
  display: block;
  position: absolute;
  right: -3px;
  top: -7px;
  z-index: 2;
  color: transparent;
  font-size: 5px;

  &:after {
    content: "";
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    display: block;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);

  }
}