/* Error: Undefined variable.
 *    ,
 * 11 |     background: $pink-accent;
 *    |                 ^^^^^^^^^^^^
 *    '
 *   src/scss/student_government/student_government.scss 11:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502      background: $pink-accent;\a    \2502                  ^^^^^^^^^^^^\a    \2575 \a   src/scss/student_government/student_government.scss 11:17  root stylesheet";
}
