.header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 2px 0 13px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 2px 0 13px 0 rgba(0, 0, 0, 0.11);
}