.horizontal_scroll {
  position: relative;
  padding: 100px 0 50px;
}

.horizontal_scroll_flex {
  width: 100%;
  background: white;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.horizontal_scroll_flex:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ABA6A6;
  display: block;
}

.btn_prev {
  display: block;
  position: absolute;
  left: 18px;
  top: 45%;
  z-index: 2;
  color: transparent;
}
.btn_prev:before {
  content: "";
  border-bottom: 2px solid #EF3268;
  border-left: 2px solid #EF3268;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn_next {
  display: block;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 2;
  color: transparent;
}
.btn_next:before {
  content: "";
  border-top: 2px solid #EF3268;
  border-right: 2px solid #EF3268;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.horizontal_scroll_inner {
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  border-radius: 10px 0 0 10px;
  position: relative;
  padding: 0 30px;
}

.horizontal_scroll_inner .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  font-size: 0;
  color: transparent;
}

.horizontal_scroll_inner .slick-arrow.slick-prev {
  left: 0;
}
.horizontal_scroll_inner .slick-arrow.slick-prev:before {
  content: "";
  border-bottom: 2px solid #EF3268;
  border-left: 2px solid #EF3268;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
}

.horizontal_scroll_inner .slick-arrow.slick-next {
  right: 0;
}
.horizontal_scroll_inner .slick-arrow.slick-next:after {
  content: "";
  border-top: 2px solid #EF3268;
  border-right: 2px solid #EF3268;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
}

.image {
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}