.reverse {
  background: black;
}

.reverse_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-left: 50px;
}
.reverse_row div {
  padding-top: 35px;
  color: white;
}
.reverse_row p {
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-top: 25px;
}

.reverse_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 0 40px;
  width: 100%;
  max-width: 367px;
}

.reverse_label {
  padding-left: 20px;
  background: white;
  margin-bottom: 30px;
}

.reverse_input {
  padding: 20px 0;
}

.reverse_btn {
  padding: 22px 43px;
  background: #EF3268;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 2px;
}
.reverse_btn:hover {
  -webkit-box-shadow: 0 0 15px 6px rgba(250, 247, 247, 0.26);
          box-shadow: 0 0 15px 6px rgba(250, 247, 247, 0.26);
}