.news_form_btn {
  text-align: center;
  padding: 30px 0;
}

.form_btn {
  padding: 20px 40px;
  background: #EF3268;
  box-shadow: 0 4px 9px 0 rgb(0 0 0 / 8%);
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: 600;

  &:hover {
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.6), inset 4px 4px 6px rgba(255, 255, 255, 0.6);
  }
}