.management_title {
  color: $pink-accent;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-top: 40px;

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: $grey-accent;
    position: absolute;
    top: 0;
    left: 0;

  }
}

.management_row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;

}

.management_block {
  width: 100%;
  display: flex;
  justify-content: space-between;


}

.management_content {
  line-height: 1.5;
  margin-bottom: 36px;
  width: 100%;
  padding-right: 30px;
  max-width: 495px;


  &:nth-child(2) {
    padding-right: 0;
  }

  h2 {
    font-size:18px;
    font-weight: 500;
    color: #393939;


  }

  .management_content-pinkAccent {
    color: $pink-accent;
  }

  h3 {
    color: black;
    font-size: 18px;
    font-weight: 600;

  }

  a, p {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
  }
}