.hostel_info, .hostel_municipality, .hostel_payment {
  padding: 40px 0;
  width: 100%;


  p {
    margin-bottom: 20px;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  h2, h4 {
    font-size: 23px;
    font-weight: 600;
    color: $pink-accent;
    margin-bottom: 15px;
  }
}
/*ssxsx*/

.hostel_municipality {
  background: $bgGreySpecialties;

  h3 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.hostel_payment_row {
  width: 100%;
  position: relative;
  padding: 23px 0;

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: $grey-accent;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: $grey-accent;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}