footer {
  background: #000000;
}


.footer_head {
  background: #EF3268;
  color: white;
  width: 100%;

}



.footer_head {
  background: #EF3268;
  color: white;
  width: 100%;

}

.footer_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;

  p {
    font-size: 16px;
    font-weight: 600;
  }

  a {
    border: white 1px solid;
    padding: 13px 45px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      background: white;
      color: #EF3268;
    }

  }
}


.footer_info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  width: 100%;
  padding: 30px 0;

}

.footer_info-title {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 311px;

  h4 {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.03em;
    margin-left: 20px;
  }

}


.footer_info-social {
  display: flex;

  a {
    margin-right: 36px;

    &:hover {
      color: #EF3268;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}


.footer_info-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;


}

.footer_info-body::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #505050;
  position: absolute;
  bottom: 0;
}


.footer_link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 35px;

}

.footer_link_section {

}

.footer_link_section:last-child {

}


.link_title {
  color: #EF3268;
  margin-bottom: 20px;
  font-weight: 600;

}

.footer_link_content {
  margin-bottom: 14px;
  font-weight: 300;
  color: #C9C9C9;

  a:hover {
    color: $pink-accent;
  }
}


.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 13px;
  padding: 40px 0 36px;
  color: #adadad;

}

.copyright_title {
  width: 100%;
  max-width: 179px;
  padding-right: 15px;


}

.copyright_link {
  display: flex;
  padding-left: 15px;
  font-weight: 300;
  position: relative;
  flex-direction: column;


  &:after {
    content: '';
    height: 100%;
    width: 2px;
    background: #505050;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

  }

  a {
    color: #ffffff;
    font-weight: 300;
  }

}